@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;700&display=swap');


body {
  margin: 0;
  font-family: 'Tajawal', sans-serif !important; 
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


p, h1, h2, h3, h4, h5, h6, input, button {
  font-family: 'Tajawal', sans-serif !important;
}