
.AdvertisementModal {
    width: 40%;
    height: 30%;
    background-color: white;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc; /* Light gray border */
  }
  
  .close-button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .AdvertisementModal {
      width: 80%; /* Adjust width for smaller screens */
      height: 50%; /* Adjust height for smaller screens */
    }
  }