/* Animation for fade-in effect */
.fade-in {
  opacity: 0;
  transform: translateY(20px); 
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0); 
}

/* Styling for car card */
.car-card {
  background: #fff;
  border-radius: 10px;
  border: 2px solid transparent; /* Initial border */
  overflow: hidden;
  text-align: right;
  transition: opacity 0.3s ease-out, transform 0.3s ease-out, box-shadow 0.3s ease-out;
  margin: 10px;
  padding: 15px;
  width: 95%;
  max-width: 250px; /* Max width to ensure consistency */
  opacity: 1;
  transform: translateY(0);
}

.car-card:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* Similar shadow effect */
  transform: translateY(-10px);
  border: 2px solid #e9022510; /* Red border on hover */
}

.car-image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.car-image {
  width: 200px; /* Fixed width */
  height: 100px;
  object-fit: cover;
  border-radius: 4px;
  transition: transform 0.3s ease;
}

.car-card:hover .car-image {
  transform: scale(1.1);
}

.car-card .car-name {
  margin: 5px 0;
  font-size: 1em; /* Smaller font size */
  font-weight: bold;
  font-family: 'Tajawal', sans-serif !important; /* Enforce the font-family */
  text-align: right; /* Align text to the right */
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
}

.star {
  color: #f4c150;
  margin-right: 3px;
}

.details {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  font-size: 0.9em;
}

.details span {
  display: flex;
  align-items: center;
  margin: 0 5px;
}

.price {
  padding: 10px 0;
  font-size: 1.1em;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.price span {
  margin: 0 5px;
}

.rent-button {
  color: white;
  width: 100%;
  background-color: #E90224;
  border-radius: 10px;
  font-family: 'Tajawal', sans-serif;
  padding: 10px 0;
  font-size: 1em;
  transition: background-color 0.3s ease;
  margin-top: 15px;
  border: none;
}

.rent-button:hover {
  background-color: #ff0033;
}

.home-page {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Ensure 4 columns */
  gap: 30px;
  padding: 0 100px;
  justify-content: center;
}

@media (max-width: 1024px) {
  .home-page {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for smaller screens */
    padding: 0 50px;
  }
}

@media (max-width: 768px) {
  .home-page {
    grid-template-columns: 1fr; /* 1 column for mobile */
    padding: 0px;
  }
  
  .car-card {
    width: 100%; /* Increase the width to 90% of the screen */
    margin: 0 auto; /* Center the card horizontally */
    max-width: 290px;
  }
}


.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.load-button {
  background-color: white;
  color: black;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px 40px;
  margin-bottom: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.load-button:hover {
  background-color: white;
  border-color: #d62839;
}
