/* Customize scrollbar for webkit browsers */
div::-webkit-scrollbar {
    height: 8px;
  }
  
  div::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }
  
  div::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  