.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
}

.login-form {
  margin-top: 80px;
  background: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: right;
  max-width: 600px;
  width: 100%;
}

.welcoming {
  margin-bottom: 20px; /* Increased margin for better spacing */
  font-size: 24px;
  color: #333;
  text-align: end;
}
/* 
.login-form p {
  margin-bottom: 20px;
  color: #666;
  text-align: end;
} */

.login-form input {
  width: 100%;
  text-align: end;
  padding: 12px; /* Increased padding for better spacing */
  margin: 10px 0; /* Increased margin for better spacing */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.login-form .button-container {
  display: flex;
  justify-content: center;
}

.login-form button {
  width: 50%;
  padding: 12px; /* Increased padding for better spacing */
  margin-top: 20px;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.login-form button:hover {
  background-color: #c0392b;
}

.login-form a {
  color: #e74c3c;
  text-decoration: none;
}

.login-form a:hover {
  text-decoration: underline;
}

.signup-link {
  text-align: start;
  margin-top: 20px;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .login-form {
    padding: 30px; /* Increased padding for better spacing on smaller screens */
    margin-top: 0;
  }

  .login-form h2 {
    font-size: 22px;
  }

  .login-form input {
    padding: 10px;
  }

  .login-form button {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .login-container {
    padding: 20px;
  }

  .login-form {
    padding: 20px; /* Increased padding for better spacing on smaller screens */
  }

  .login-form h2 {
    font-size: 20px;
  }

  .login-form p {
    font-size: 14px;
  }

  .login-form input {
    padding: 10px;
  }

  .login-form button {
    font-size: 14px;
  }

  .signup-link {
    text-align: center;
  }
}
