.search-result {
  padding: 10px;
  border-bottom: 1px solid #eee;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.search-result:hover {
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.result-text {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}
