.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 730px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
}


.custom-alert {
  margin-top: 10px;
  font-size: 14px;
  padding: 0px;
  width: 100%;
  box-sizing: border-box;
}

.signup-form {
  background: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: right;
  max-width: 600px;
  width: 100%;
}

.signup-form h2 {
  margin-bottom: 20px; /* Increased margin for better spacing */
  font-size: 24px;
  color: #333;
  text-align: end;
}

.welcoming {
  margin-bottom: 20px; /* Increased margin for better spacing */
  color: #666;
  text-align: end;
}

.signup-form .name-fields {
  display: flex;
  gap: 15px; /* Increased gap for better spacing */
  margin-bottom: 20px;
}

.signup-form .first-name-input {
  order: 2;
}

.signup-form .last-name-input {
  order: 1;
}

.signup-form .name-fields input {
  flex: 1;
}

.signup-form input {
  width: 100%;
  text-align: end;
  padding: 12px; /* Increased padding for better spacing */
  margin: 10px 0; /* Increased margin for better spacing */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.signup-form .button-container {
  display: flex;
  justify-content: center;
}

.signup-form button {
  width: 50%;
  padding: 12px; /* Increased padding for better spacing */
  margin-top: 20px;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.signup-form button:hover {
  background-color: #c0392b;
}

.signup-form a {
  color: #e74c3c;
  text-decoration: none;
}

.signup-form a:hover {
  text-decoration: underline;
}

.login-link {
  text-align: start;
  margin-top: 20px;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .signup-form {
    padding: 30px; /* Increased padding for better spacing on smaller screens */
  }

  .signup-form h2 {
    font-size: 22px;
  }

  .signup-form .name-fields {
    flex-direction: column;
  }

  .signup-form .first-name-input {
    order: 1;
  }

  .signup-form .last-name-input {
    order: 2;
  }

  .signup-form input {
    padding: 10px;
  }

  .signup-form button {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .signup-container {
    padding: 20px;
  }

  .signup-form {
    padding: 20px; /* Increased padding for better spacing on smaller screens */
  }

  .signup-form h2 {
    font-size: 20px;
  }

  .signup-form p {
    font-size: 14px;
  }

  .signup-form input {
    padding: 10px;
  }

  .signup-form button {
    font-size: 14px;
  }

  .login-link {
    text-align: center;
  }
}
