.iw-testimonial-section {
  padding: 4px 16px;
  text-align: center;
}

.iw-testimonial-title {
  margin-bottom: 2px;
  color: #ff0000; /* Red color */
  font-family: 'Cairo', sans-serif; /* Use a unique font */
}

.iw-testimonial-card {
  background-color: #ffffff; /* White background */
  border: 1px solid #e0e0e0; /* Light gray border */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px; /* Rounded corners */
  text-align: center; /* Center text */
  padding: 32px; /* Add padding */
  position: relative; /* Allow positioning */
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.iw-testimonial-card:before {
  content: '“';
  font-size: 48px;
  color: #ff0000; /* Red color */
  position: absolute;
  top: 16px;
  left: 16px;
}

.iw-testimonial-card:after {
  content: '”';
  font-size: 48px;
  color: #ff0000; /* Red color */
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.iw-testimonial-card.iw-visible {
  opacity: 1;
  transform: translateY(0);
}

.iw-testimonial-card:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
}

.iw-testimonial-avatar {
  width: 130px;
  height: 130px;
  margin: 16px auto;
  border: 4px solid #ffffff; /* White border */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 50%; /* Circular avatar */
}

.iw-testimonial-name {
  color: #333333; /* Dark gray color */
  font-weight: bold;
  font-family: 'Cairo', sans-serif; /* Use a unique font */
  margin-top: 8px;
}

.iw-testimonial-title-text {
  color: #888888; /* Gray color */
  font-family: 'Cairo', sans-serif; /* Use a unique font */
  margin-bottom: 16px;
}

.iw-testimonial-text {
  font-style: italic;
  color: #555555; /* Medium gray color */
  font-family: 'Cairo', sans-serif; /* Use a unique font */
}
